.container{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading2{
display: flex;
justify-content: center;
align-items: center;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height:300px;
}

.cat{
    width:300px;
    height:300px;
    
}

.span1{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top:5px ;
    font-size: 30px;
}

.click{
    display: flex;
    justify-content: space-around;
}

.photo{
    padding:px;
}

.btn1{
    width:100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    border-radius: 5px;
    background-color: blue;
    color:#FFF;
    outline: none;

    margin-top:15px;
    padding:10px;
}


.btn2{
    width:100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    border-radius: 5px;
    /* background-color: blue; */
    color:black;
    outline: none;

    margin-top:15px;
    padding:10px;
}
